@media (min-width: 768px){
    .sidebar{
        position: sticky;
        top: 4rem;
        z-index: 1000;
        height: calc(100vh - 4rem);
        background-color: #f7f7f7;
        border-right: 1px solid #ececec;
    }
    .sidenav{
        overflow: hidden;
        display: block!important;
        height: 100%!important;
    }

}


